@CHARSET "UTF-8";
.midd_left{width:764px;padding-left:10px;padding-right:10px;float:left;}
.midd_right{width:240px;float:left;}
.navigateBar{color:#333;margin-bottom:20px;}
.navigateBar a:hover{color:#365c88;cursor:pointer;text-decoration: none;}
/* 
    margin-top:7px;*margin: 0;是解决ie和ff matgin-top不一致的问题；
    border: 0; 是去掉ff的一条阴影线；
    color: #FFF; 是设置ie下水平线的颜色；
     background-color: #FFF; 是设置FF下水平线的颜色；
    height: 1px;是设置水平线的高度，当然你也可以把它设置2px，3px；
 */
.hr_split {margin-top:7px;*margin: 0;  border: 0; color: #e8e8e8; background-color: #e8e8e8; height: 1px ;}
.announcement{width:764px;height:auto;}
.announcement .title,.title2{color:#333;font-size:22px;line-height:36px;width:640px;}
.announcement .title:hover{color:#365c88;cursor:pointer;}
.announcement .time{width:124px;color:#999;line-height:46px;}
.announcement .author{font-size:14px;color:#999;width:100%;line-height:36px;}
.announcement .abstract{color:#666;line-height:24px;font-size:14px;margin-bottom:30px;}
.search{width:240px;height:40px;}
.search .left{float:left;width:199px;height:38px;border-left:1px solid #365c88;border-top:1px solid #365c88;border-bottom:1px solid #365c88;border-top-left-radius:5px;border-bottom-left-radius:5px;}
.search .left input{width:192px;height:38px;border:none;background:transparent;}
.search .right{float:left;width:40px;height:40px;border-top-right-radius:5px;border-bottom-right-radius:5px;background:#365c88;text-align:center;line-height:40px;}

.hotest{width:240px;}
.hotest .hotest_title{border-bottom:1px solid #e8e8e8;color:#4c4c4c;font-size:18px;padding-left:20px;height:60px;line-height:60px;}
.hotest .hotestList{width:200px;padding-left:20px;padding-right:20px;}
.hotest .hotestList li{margin-top:15px;margin-bottom:10px;display:inline-block;line-height:24px;}
.hotest .hotestList li .con{font-size:14px;color:#666;cursor:pointer;}
.hotest .hotestList li .con:hover{color:#365c88;}
.hotest .hotestList li .time{color:#999;}

.expect_img{background:url("../images/billboard.png");width:240px;height:120px;margin-top:10px;}

.text{color:#666;line-height:24px;font-size:14px;width:764px;height:auto;}

/* CSS Document 顶部公用样式*/

.top_1_wrap{ width:100%; height:25px; line-height:25px; background-color:#fff; overflow:hidden; min-width:1024px;}
.top_1_float{ width:auto; height:25px; line-height:25px;}
.top_1_float a{ margin:0px 5px;}
.top_1_float a:hover{ text-decoration:underline;}
.top_1_float .beta{background-color:#f1af27; color:#fff;width:30px;height:16px; border-radius:3px;}
.dologin{ float:left; width:auto; height:auto;}
.haslogin{float:left; width:auto; height:auto;display:none;}
.select_wrap{width:500px;position:relative;}
.select_wrap select{opacity:0;filter:alpha(opacity=0);position:absolute;left:0px;top:0px;}
.doregister{float:left; width:auto; height:auto;}
.top_logon_wrap{ width:100%; height:95px; background:url(../images/new/dht.png) repeat-x;}
.logo_img_wrap{ float:left; width:260px;}
.logo_right_wrap{ float:left; width:760px; height:100%;}
/*============导航菜单=============*/
.main_nav_wrap{ position:relative; top:0px; left:0px; z-index:1; width:100%; height:80px;}
.main_nav_wrap ul{}
.main_nav_wrap ul>li{ float:left; width:90px; height:80px; line-height:80px; text-align:center; color:#fff;}
.main_nav_wrap ul>li>a{ color:#fff; font-size:14px;letter-spacing:3px; width:100%; height:100%; float:left;}
.main_nav_wrap ul>li a:hover{ text-decoration:none;}
.main_nav_wrap ul>li ul{ display:none;}

.main_nav_wrap ul>li:hover{ background:#506686;}
.main_nav_wrap .curr{ background:#506686;}
.main_nav_wrap ul>li:hover ul{ display:block; width:90px; height:auto; }
.main_nav_wrap ul>li:hover ul li{background:#58749c; width:90px; height:50px; line-height:50px; text-align:center; color:#fff;}
.main_nav_wrap ul>li:hover ul li a{ color:#fff; font-size:14px;letter-spacing:3px;}
.main_nav_wrap ul>li:hover ul li a:hover{ text-decoration:none;}
.main_nav_wrap ul>li:hover ul li:hover{ background:#506686;}
.main_nav_wrap .hover_down{background:url(../images/nav_sub.png) no-repeat 90% 52%;}
.logo_right_wrap .search_wrap{ float:right; width:230px; height:30px; margin-top:25px; overflow:hidden; background-color:#fff; }
.logo_right_wrap .search_wrap input{ width:190px; height:30px; line-height:30px; border:none; float:left;}
.logo_right_wrap .search_wrap button{ float:left; border-left:1px solid #58749c; width:30px; height:30px; cursor:pointer; background: url(../images/icon/search.png) no-repeat 0 0;}

.logo_text{ float:left; width:125px; height:auto; line-height:20px; margin:6px 0px 0px 10px;}
.logo_text .font1{letter-spacing:10px; font-size:18px;font-weight:bold;}
.logo_text .font2{font-size:13px; font-weight:bold; margin-top:6px;}